header{
	font-size: 60px;
	font-family: sketchnote-square, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #637AA6;
	width: 100%;
	height: 75px; 
	background-color:white;
}

section{
	background-image: url("./images/classroom.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	width : 80%;
	margin: 0 auto; 
	text-align: center;
} 
.child { 
	display: inline-block;
	margin: 100px;
	padding: 20px;
	width: 500px;
	height: 100px;
	
} 



h1{
	font-size: 25px;
	line-height: 62px;
	font-family: ruddy, sans-serif;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	
}


p{
	font-size: 20px;
	line-height: 40px;
	font-family: ruddy, sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	
}




nav{
	font-size: 35px;
	line-height: 62px;
	font-family: ruddy, sans-serif;
	font-weight: 900;
	font-style: normal;
}

nav ul li{
	list-style-type: none; 
	float: left;
}

nav ul li a{
	color: #637AA6;
	text-decoration: none; 
	margin: 120px;
}

nav ul li a:hover{ 
	background-color: #E6E3E1;
	color: #637AA6;
	padding:25px;
}


