header{
	font-size: 60px;
	font-family: sketchnote-square, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #637AA6;
	width: 100%;
	height: 75px; 
	background-color:white;
	text-align:center;
}
a{ 
text-decoration: none;
} 
section{
	background-image: url("images/chalkboard.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	margin: -25px;
	
	
}
p{
	
	font-size: 35px;
	font-family: sketchnote-square, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: white;
	padding: 200px;
}
nav{
	font-size: 35px;
	line-height: 62px;
	font-family: ruddy, sans-serif;
	font-weight: 900;
	font-style: normal;
}

nav ul li{
	list-style-type: none; 
	float: left;
}

nav ul li a{
	color: #637AA6;
	text-decoration: none; 
	margin: 45px;
}

nav ul li a:hover{ 
	background-color: #E6E3E1;
	color: #637AA6;
	padding:15px;
}
